pipeline/1a_pl_dim_sql_to_azure_full_load.json
{
	"name": "1a_pl_dim_sql_to_azure_full_load",
	"properties": {
		"activities": [
			{
				"name": "Lookup_config_tbl",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": {
							"value": "select param.*, control.* from telecom.metadata_schema.tbl_parameters param, telecom.metadata_schema.tbl_source_control control where job_id in (201);",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "ds_metadata_adb_deltalake",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For_each_source_file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_config_tbl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_config_tbl').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "on_prem_to_adls",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"variables": {
			"a": {
				"type": "String"
			}
		},
		"annotations": []
	}
}