pipeline/pl_Silver_Ingestion_Inc_load.json
{
	"name": "pl_Silver_Ingestion_Inc_load",
	"properties": {
		"activities": [
			{
				"name": "Ingestion to Silver",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Workspace/Users/moraxzhongli.gi@gmail.com/DB notbooks/NB Silver Ingestion Increamental",
					"baseParameters": {
						"catalog_name": {
							"value": "silver",
							"type": "Expression"
						},
						"container_name": {
							"value": "landing",
							"type": "Expression"
						},
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"schema_mapping": {
							"value": "@pipeline().parameters.schema_mapping",
							"type": "Expression"
						},
						"schema_name": {
							"value": "@pipeline().parameters.schema_name",
							"type": "Expression"
						},
						"table_name": {
							"value": "@pipeline().parameters.table_name",
							"type": "Expression"
						},
						"primary_key": {
							"value": "@pipeline().parameters.primary_key",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "File Ingestion Success logs",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Ingestion to Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Workspace/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@concat('Inserted ',activity('Ingestion to Silver').output, ' recoreds to silver container')",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"status": "Success",
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "File Ingestion Failed logs",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Ingestion to Silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Workspace/databricks_notebooks/log_record_tbl_insert",
					"baseParameters": {
						"env": {
							"value": "@pipeline().globalParameters.env",
							"type": "Expression"
						},
						"loadId": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"logMessage": {
							"value": "@activity('Ingestion to Silver').Error.message",
							"type": "Expression"
						},
						"logTimeStamp": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"pipeLineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"status": "Fail",
						"triggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_databricks_compute",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"catalog_name": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			},
			"schema_name": {
				"type": "string"
			},
			"schema_mapping": {
				"type": "string"
			},
			"env": {
				"type": "string"
			},
			"container_name": {
				"type": "string"
			},
			"primary_key": {
				"type": "string"
			}
		},
		"annotations": []
	}
}